# Ignore Python venv
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore ALL model checkpoints 
emotion_model_go/

# Ignore data files
*.csv

# Ignore logs / temp
*.tmp
*.log

# Ignore IDE settings
.vscode/
.idea/
